<style>
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 512px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  top: 0;
  left: 0;

}

.imgLeft { height:120px; position:absolute; top: 400px; left: 5%; z-index: 1; } 
.imgRight { height:120px; position:absolute; top: 400px; left: 55%; z-index: 3; } 

</style>

<img class="bg" src="/mobile/mobile_background.png" />
<a class="imgLeft" href="#"><img style="height:120px;" src="/mobile/iphone_button.png"></img></a>
<a class="imgRight" href="/versions/YitingDaodi.apk"><img style="height:120px;" src="/mobile/android_button.png"></img></a>
